|	<!-- ref:remove -->
|		<script data-main="scripts/config" src="bower_components/requirejs/require.js"></script>
|	<!-- endref -->
|	<!-- build:js({.tmp}) scripts/main.js -->
|	<!--<script src="../dist/scripts/main.js"></script>-->
|	<!-- endbuild -->
|	<!-- build:js scripts/vendor/skrollr.ie.min.js -->
|	<!--[if lt IE 9]>
|		<script src="bower_components/skrollr-ie/dist/skrollr.ie.min.js"></script>
|	<![endif]-->
|	<!-- endbuild -->