nav.top-bar
  ul.title-area
    li.name
      h1
        a(href="index.html") ChicksRule

  section.top-bar-section
    ul.right
      li
        a(href="parallax.html") parallax
      li
         a(href="carousel.html") carousel
      li
         a(href="child.html") child
      li
         a(href="#") Top Chicks