mixin googleAnalytics
    script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

mixin googleAnalyticsTaxonomy(fullTax)
       script(type="text/javascript")
        _gaq.push(['_setCustomVar', 2, 'Section', '!{doc.taxonomy[0]}', 3]);
        _gaq.push(['_setCustomVar', 3, 'Taxonomy', '!{fullTax}', 3]);

