/* Parallax Scroll
   ========================================================================== */

/* body, html {
  height: 100%;
  min-height: 100%;
  background-color: #fff;
}

body! {}

.no-js {
  padding-top: 106px;
} */

body! {}

/* .no-js {
  padding-top: 106px;
}
 */

h2 {
  margin-top: 0;
}

.loading! {}

section.homeSlide {
  opacity: 0;
  height: 360px;
}

.loaded section.homeSlide, .no-js section.homeSlide {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

main {
  overflow-x: hidden;
}

#preload {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.bcg {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 80%;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  padding: 0 8%;
  text-align: center;
  position: relative;
  h2 {
    color: #fff8de;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
  }
  p {
    width: 80%;
    color: #b2b2b2;
  }
  a {
    color: #b2b2b2;
    text-decoration: underline;
  }
}

/* Slide 1 */

#slide-1 {
  .bcg {
    background-image: image-url("bcg_slide-1.jpg");
  }
  .hsContent! {}
}

/* Slide 2 */

#slide-2 {
  .bcg {
    background-image: image-url("bcg_slide-2.jpg");
  }
  .hsContent!, h2! {}
}

/* Slide 3 */

#slide-3 {
  .bcg {
    background-image: image-url("bcg_slide-3.jpg");
  }
  .hsContent! {}
  h2 {
    color: #f2ead6;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

/* Slide 4 */

#slide-4 {
  .bcg {
    background-image: image-url("bcg_slide-4.jpg");
    background-position: center center;
  }
  .hsContent! {}
  h2 {
    padding-left: 0;
    padding-right: 0;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/*
 * Slider
 */
#owl-example{
  .item {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    .caption {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
      bottom: 0;
      color: #fff;
      display: block;
      font-size: 2em;
      left: 0;
      letter-spacing: 0.1em;
      line-height: 1.2;
      opacity: 1;
      padding: 10px;
      position: absolute;
      width: 100%;
    }
  } 
}  


/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@include MQ(Mplus) {
  body, html {
    height: auto;
  }
  .bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  section.homeSlide {
    min-width: 768px;
    height: 600px;
  }
  .hsContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .hsContent {
    max-width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: left;
    padding: 0;
    h2 {
      font-size: 35px;
      line-height: 38px;
    }
    p {
      width: 400px;
    }
  }
  #slide-1 .hsContent {
    bottom: 200px;
    top: auto;
    margin-left: -80px;
  }
  #slide-2 {
    .hsContent {
      margin-left: -340px;
      top: auto;
    }
    h2 {
      position: fixed;
      top: 70%;
    }
  }
  #slide-3 .hsContent {
    margin-left: -300px;
  }
  #slide-4 {
    .hsContent {
      margin-left: -340px;
      position: fixed;
    }
    h2 {
      background: none;
    }
  }
}

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a {
    text-decoration: underline;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: " (" attr(href) ")";
    }
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after {
    content: "";
  }
  a {
    &[href^="javascript:"]:after, &[href^="#"]:after {
      content: "";
    }
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}