extends layout/layout
include mixins/placeholders
block content
    .row
      .large-8.columns
        .panel
          h2 Welkom to ChicksRock.info!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae hic, eum eligendi magni illum? Provident sapiente aperiam, modi, voluptatum, fuga officiis cumque, adipisci veritatis optio illo voluptate cum eos deleniti.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum excepturi et maiores corporis nisi veritatis quaerat dignissimos sapiente ipsam, eos, veniam, accusantium officia repellat dolor rerum tempore delectus enim minima!
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae ex sapiente fugiat earum voluptatem laudantium optio reiciendis iste voluptatum veniam doloremque qui totam natus culpa ab distinctio deserunt, commodi cum.
    
          a.button.round(href="#") Find out more
      .large-4.columns
        img(src="images/chick001.jpg", alt="chick001")
    hr
    .row
      .large12.columns
        h3 What is ChicksRock.info?
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nobis perspiciatis quod rerum! Quasi unde voluptates placeat dicta doloribus tempore necessitatibus dolorum nam, sed, molestiae harum quo consequuntur eos. Suscipit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ea voluptatem aut, et harum suscipit aperiam. Molestiae asperiores architecto, numquam quaerat perferendis quo tenetur aut quasi itaque magnam eligendi, ducimus!
    hr
    .row
      .large-12.column
        h3 Our Chicks that rule
          ul.large-block-grid-4
            li
              img(src="images/chick006.jpg" alt="chick006") 
            li
              img(src="images/chick002.jpg" alt="chick002") 
            li
              img(src="images/chick004.jpg" alt="chick004") 
            li
              img(src="images/chick005.jpg" alt="chick005") 
    .row
      .large-12.column
        .hero-unit
          h1 'Articles from template'
          p You now have
          ul
            li HTML5 Boilerplate
            li Modernizr
    .row
      .large-12.column
        mixin kitten(980,300,0,'cuteKitten')